[submodule "dbkoda-ui"]
	path = dbkoda-ui
	url = https://github.com/SouthbankSoftware/dbkoda-ui.git
	branch = dbkoda-x
[submodule "dbkoda-controller"]
	path = dbkoda-controller
	url = https://github.com/SouthbankSoftware/dbkoda-controller.git
	branch = dbkoda-x
[submodule "dbkoda"]
	path = dbkoda
	url = https://github.com/SouthbankSoftware/dbkoda.git
	branch = dbkoda-x
